## ULX3S v2.0 and v2.1

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "o_cout" SITE "C1";
LOCATE COMP "o_sum[1]" SITE "C2";
LOCATE COMP "o_sum[0]" SITE "B2";

IOBUF  PORT "o_sum[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_sum[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_cout" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## DIP switch "blinkey", "gpio" sheet
LOCATE COMP "i_a[0]" SITE "E8"; # SW1
LOCATE COMP "i_a[1]" SITE "D8"; # SW2
LOCATE COMP "i_b[0]" SITE "D7"; # SW3
LOCATE COMP "i_b[1]" SITE "E7"; # SW4

IOBUF  PORT "i_a[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_a[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_b[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_b[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

